layout {

    focus-ring {
        active-color   "#ffb4a1"
        inactive-color "#131313"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#ffb4a1"
        inactive-color "#131313"
        urgent-color   "#ffb4ab"
    }


    tab-indicator {
        active-color   "#ffb4a1"
        inactive-color "#7d2d18"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#ffb4a180"
    }
}

recent-windows {
    highlight {
        active-color "#ffb4a1"
        urgent-color "#ffb4ab"
    }
}
